@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --font-col1: #8F503F;
    --bk-col:#261214;
    --white-col:#fff;
    --sec-bkcolor:#FAFAFA;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h3, h2, span, h5 {
    font-family: poppins;
}

h2, h3, h5 {
    font-size: 2rem;
    font-weight: bold;
}
p {
    font-size: 18px;
}
/* section one */
.sec-one {
    background: url(/images/home/bk-3a.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    color: var(--white-col);
}

/* center div */
.cont1{
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
}

/* section-two */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 3rem 0;
}

.cards img {
    max-width: 100%;
}
.cards .txt2 {
    text-align: justify;
}

.cards:nth-child(even) img {
    order: 2;;
}

.cards h2 {
    color: var(--font-col1);
}

@media screen and (width:653px){
    .cont1 {
        top: 50%;
    }
}

@media screen and (min-width:200px) and (max-width:768px){
    h2, h3, h5 {
        font-size: 1.4rem;
        font-weight: bold;
    }
    p, span {
        font-size: 0.8rem!important;
        font-weight: normal;
    }
    .cont1 {
        width: 100%;
    }
    /* sec2 */
    .cards {
        display: block;
        padding: 20px;
    }
    .cards h2 {  
        padding-top: 10px;
    }
    
}
@media screen and (min-width:769px) and (max-width:1024px){
    h2, h3, h5 {
        font-size: 2rem;
        font-weight: bold;
    }
    .cont1 {
        width: 100%;
        top: 30%;
    }
    .cards .txt2 p{
        font-size: 14px;
    }
  
}
@media screen and (width:812px){
    .cont1 {
        top: 50%;
    }
}
@media screen and (width:768px){
    .cont1 {
        top: 30%;
    }
    .cards .txt2 {
        max-width: 90%;
    }
}