@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --font-col1: #8F503F;
    --bk-col:#261214;
    --white-col:#fff;
}
p, h3, h2, span, h5 {
    font-family: poppins;
}
body{
    padding: 0;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first-blk */

.first-blk{
    background-image: url(/images/home/brownwall.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.sec1{
    color: var(--white-col);
  height: 80vh!important;
  position: relative;
  padding: 5rem;
 
    
}

.txt {
    position: absolute;
    top: 30%;
}
.txt h3 {
    padding: 0.7rem 0;
    font-size: 40px;
    font-weight: bolder;
}

.btn-explore {
    color: var(--white-col);
    background-color: var(--font-col1);
    width: 130px;
    height: 45px;
    text-align: center!important;
}

/* second-blk */
.second-blk{
    padding: 3rem 1rem;
}
.img-cont1 img{
    max-width: 100%;
    padding-top: 3rem;
    text-align: center!important;
}
.abt-cry {
    padding-bottom: 1rem;
    color: var(--font-col1);
    font-weight: 900;
}
.txt-box{
    padding-right: 10rem;
    letter-spacing: 1px;
}
.t-blk video{
    max-width: 100%;
    position: relative;
}

/* fourth-bk */
.fourth-blk{
    padding: 2rem;
}
.lg-screen{
        display: none;
}
.fourth-blk .row1 {
    padding: 2rem 2rem!important;
}
.txt-box1 {
    max-width: 80%;
    margin: 0;
    text-align: justify;
  
}
.img-cont11 img {
    max-width: 90%;
}
.fourth-blk h2 {
    color: var(--font-col1);
    padding: 1rem 0;
    font-size: 25px;
    font-weight: 900;
}
.bookr {
   margin-left: 4rem;
}
.night{
    display: inline;
    padding-top: 2rem;

}
.icon-btn {
    margin-bottom: 1rem;
}
.big-ft {
    font-size: 22px;
}

/*  */
.fifth-blk{
    margin: 0;
}
.carousel-item .img11 {
    max-width: 100%;
} 
.img1a {
    max-width: 20%;
}
.bq{
    width: 50%;
}
/* sixth */
.sixth-blk h2{
    font-size: 25px;
    font-weight: 900;
    color: var(--font-col1);
}
.text-cont{
    max-width:40%;
    margin-left: auto;
    margin-right: auto;
}
.sixth-blk{
    padding: 2rem;
    text-align: center;
}
.row22 {
    max-width: 95%;
    margin-left: 10px!important;
}
.img-hold img{
    max-width: 100%;
    margin: 0;
}
.img-hold{
    width: 100%;
}

/* media for mobile */
@media screen and (width:320px){
    .img11 {
    
     min-height: 45vh!important;
     width: 100%;
    }
}
@media screen and (width:568px){
    .img11 {
    
     min-height: 75vh!important;
     width: 100%;
    }
}
@media screen and (width:600px){
    .img11 {
    
     min-height: 55vh!important;
     width: 100%;
    }
}
@media screen and (max-width:767px) and (min-width:200px) {
    .sec1 {
        padding:5rem 2rem!important;
    }
    .txt-box{
        padding-top: 1rem;
        padding-right: 0!important;
        text-align: justify;
    }
    .row{
        text-align: center;
    }

    .txt h3 {
        font-size: 18px;
    }
    .txt p {
        font-size: 12px;
    }
    .abt-cry{
        font-size: 18px;
    }
    .small-scrn{
        display: none;
    }
    .lg-screen{
        display:flex;
    }
    .fourth-blk{
        padding: 0;
    }
   .icon-btn .btn{
       padding: 0;
   }
   .icon-btn {
    text-align: center;
    padding: 1rem 0;
   }
    .txt-box1, .bookr, .text-cont{
        max-width: 100%;
        margin: 0;
    }
   
    .img-cont11 img {
        max-width: 100%;
    }
    .btn-book, .more{
        text-align: center!important;
    }
    
    .night{
        text-align: center;
        display: block;
    }
    .row22{
        max-width: 100%;
    }
    .sixth-blk {
        padding: 1rem;
    }
   .car-cap , .bq {
       margin: 0;
       font-size: 12px;
       width: 80%;
       bottom: 0;
       padding: 0;
   }

   .car-cap p {
       font-weight: 14px;
   }
   .car-cap h5{
       font-size: 14px;
        padding: 0;
   }
   .img1a {
       max-width: 14%;
   }
   .img11 {
   
    min-height: 36vh;
    width: 100%;
   } 
}

/* media for tablet */
@media screen and (max-width:1024px) and (min-width:768px){
    .abt-cry{
        text-align: center;
        font-size: 25px;
    }
    
    .txt-box{
        max-width: 80%;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    .fourth-blk{
        padding: 1rem;
    }
    .txt-box1 {
        max-width: 100%;
        margin: 0;
        text-align: justify;
    }
    .txt-box1 p {
        font-size: 12px;
    }
    .txt-box1 h2 {
        padding: 0;
        font-size: 15px;
        font-weight: 900;
    }
    .more{
        text-align: center!important;
    }
    .img-cont11 img {
        max-width: 100%;
        margin: 3rem 0;
    }
    
    .big-ft {
        font-size: 15px;
    }
    .bookr {
        margin: 10px;
    }
    .icon-btn img {
        max-width: 70%;
    }
    .icon-btn {
        padding: 0;
     }
    .img11 {
        min-height: 30vh;
        width: 100%;
       }
    .img1a {
        max-width: 12%;
    }
    .car-cap blockquote, .car-cap h5, .car-cap p{
        font-size: 16px;
        width: 100%;
    }
   
}