@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --font-col1: #8F503F;
    --bk-col:#261214;
    --white-col:#fff;
    --sec-bkcolor:#FAFAFA;
}
p, h3, h2, span, h5 {
    font-family: poppins;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, h3, h5 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* p, span {
    font-size: 1.2rem;
    font-weight: normal;
} */
body{
    padding: 0;
    margin: 0;
}

/* section 1  */
.sec1{
    background: url(/images/home/bk-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.txt1{
    color: var(--white-col);
    padding-top: 10%;
    letter-spacing: 1px;
    text-align: center;
}

/* section2 */

.sec2 {
    padding: 3rem 2rem;
    background-color: var(--sec-bkcolor);
}
.card {
    max-width: 95%;
    border-radius: 10px;
    border: none!important;
    outline: none;
    background-color: transparent;
    
}
.card-part{
    box-shadow: 10px 15px 13px -5px rgba(163, 162, 162, 0.9);
}
.card-img {
    max-width: 99.9%;
    border-radius: 10px;
}
.card-txt {
    display: flex;
    padding-top: 15px;
}
.card-cont{
   padding: 10px 20px;
}
.second{
   margin-left: auto;
}
.up-img{
    max-width: 80%;
}
.pr3 {
    max-width: 90%;
    padding: 0 13px;
}
.card-txt p {
    color: var(--font-col1);
    font-weight: bolder;
    font-size: 20px;
}
.second .btn{
  border: hidden;
  
}
.cola {
    margin-bottom: 3rem;
}


@media screen and (width:280px) {
    .sec1 {
        height: 20vh!important;
        padding: 1rem;
    }
}

@media screen and (min-width:360px) and (max-width:375px){
    .sec1 {
        height: 20vh!important;
    }
}


@media screen and (min-width:411px) and (max-width:414px){
    .sec1 {
        height: 20vh!important;
    }
}

@media screen and (width:653px){
    .sec1 {
        height: 60vh!important;
    } 
}

@media screen and (width:768px){
    .sec1 {
        height: 20vh!important;
    }
    .txt1 h2 {
        font-size: 25px;
    }
}

@media screen and (width:812px){
    .sec1 {
        height: 60vh!important;
    }
    .txt1 h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:767px) and (min-width:200px){

    h2, h3, h5 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    p, span {
        font-size: 0.8rem!important;
        font-weight: normal;
    }
    .sec1 {
        height: 40vh;
    }
   
    /* sectn2 */
    .sec2{
        padding: 0;
    }
    .card {
        max-width: 100%;
    }
    .card-txt {
        display: flex;
    }
    .card-cont{
        padding: 0;
     }
    .up-img {
        max-width: 50%;
    }
  
}

@media screen and (max-width:1024px) and (min-width:768px){
   
    .sec1 {
        height: 45vh;
    }
    .first p {
        font-size: 15px;
    }

    /* sectn2 */
    .card {
        max-width: 100%;
    }
}
